<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="android.aosp.overlay"
    android:versionCode="29"
    android:versionName="10">
    <overlay
      android:targetPackage="android"
      android:isStatic="true"
      android:priority="1000"/>
</manifest>
